<div class="container d-flex flex-column min-vh-100">
  <!-- HEADER -->
  <header class="mb-auto d-flex justify-content-center py-4">
    <nav class="px-3">
      <a class="fs-3 fw-semibold text-decoration-none" href="#">Brand</a>
    </nav>
  </header>
  
  <!-- MAIN CONTENT -->
  <main id="content">
    <div class="text-center py-5">
      <h1 class="display-1 fw-bold">403 - Acceso Denegado</h1>
      <p class="text-secondary">Oops, algo salió mal.</p>
      <p class="text-secondary">Lo sentimos, no tienes permisos para acceder a esta página.</p>
      <div class="mt-4 d-flex flex-column flex-sm-row justify-content-center align-items-center gap-2">
        <a class="btn btn-primary d-inline-flex align-items-center" routerLink="/">
          <svg class="me-2" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
          Volver a inicio
        </a>
      </div>
    </div>
  </main>
  
  <!-- FOOTER -->
  <footer class="mt-auto text-center py-3">
    <div class="container">
      <p class="small text-secondary">© All Rights Reserved. 2025.</p>
    </div>
  </footer>
</div>