<div class="container mt-4">
  <h1 class="text-center mb-4">Bienvenido a Readora</h1>
  
  <div class="d-grid gap-2 col-6 mx-auto">
    <button routerLink="/" class="btn btn-info mb-2">Inicio</button>
    <button routerLink="/api/v1/register" class="btn btn-primary mb-2">Registro</button>
    <button routerLink="/api/v1/authenticate" class="btn btn-secondary mb-2">Autenticación</button>
    <button routerLink="/api/libros" class="btn btn-success mb-2">Libros</button>
    <button routerLink="/api/usuarios" class="btn btn-warning mb-2">Usuarios</button>
    <button routerLink="/api/roles" class="btn btn-danger mb-2">Roles</button>
    <button routerLink="/api/autores" class="btn btn-light mb-2">Autores</button>
    <button routerLink="/api/usuario-libros" class="btn btn-light mb-2">Usuarios-Libros</button>
    <button routerLink="panel-administrador" class="btn btn-dark mb-2">Panel de Administrador</button>
  </div>
</div>