<div class="container mt-4">
  <h2>Mis Libros</h2>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Estado de Lectura</th>
          <th>Puntuación</th>
          <th>Comentario</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of usuarioLibros">
          <td>{{ libro.id }}</td>
          <td>{{ libro.estadoLectura }}</td>
          <td>{{ libro.valoracion }}</td>
          <td>{{ libro.comentario }}</td>
          <td>{{ libro.fechaInicio | date:'dd/MM/yyyy' }}</td>
          <td>{{ libro.fechaFin | date:'dd/MM/yyyy' }}</td>

          <td>
            <button class="btn btn-primary btn-sm me-2">Editar</button>
            <button class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
